parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor/*
        - tests/*
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
